<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Meu Curso{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'AppCoder/css/styles.css' %}">
</head>
<body class="d-flex flex-column min-vh-100 bg-body-secondary">
    <header>
        <h1 class="m-4 text-center">Meus Estudos</h1>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <ul class="navbar-nav ms-auto m-3">
        {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Início</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Sobre mim</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'pages' %}">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Perfil</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'lista_estudantes' %}">Estudantes</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'lista_professor' %}">Professores</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'lista_curso' %}">Cursos</a></li>
                <form method="post" action="{% url 'logout' %}" style="display:inline">
                    {% csrf_token %}
                    <li class="nav-item">
                        <a href="#" onclick="this.closest('form').submit(); return false;" class="nav-link">
                            Sair
                        </a>
                    </li>
                </form>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Início</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Sobre mim</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Registrar</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
        {% endif %}
            </ul>
        </nav>
        {% if user.is_authenticated and user.profile and user.profile.avatar %}
                <div class="mt-3">
                    <img
                        src="{{ user.profile.avatar.url }}"
                        width="45"
                        height="45"
                        class="rounded-circle"
                    > 
                    <span>
                        Olá, 
                        <strong>{{ user.username }}</strong>
                    </span>
                </div>
        {% endif %}
    </header>
    <main>
        {% block content %}
        <div class="mt-4 text-center">
            <h2>Bem-vindo ao <strong>Meus Estudos</strong>!</h2>
            <p class="mt-4">Uma <strong>plataforma educacional</strong>, onde foi <strong>aprende e organiza</strong> <br>
                seus estudos em um só lugar.</p>
            <span>Aproveite!</span>
        </div>
        {% endblock %}
    </main>
    <footer class="bg-dark text-white py-3 mt-auto">
        <p class="container text-center">
            &copy; 2026 Meu Site Web
        </p>
    </footer>
</body>
</html>