{% extends "base.html" %}
{% block content %}
<div class="container text-center">
    <h1 class="mt-4 m-3">
        Lista de Cursos
    </h1>
    <nav class="container text-center">
            <ul class="list-unstyled m-5">
                <button><li><a href="{% url 'add_curso' %}" class="text-decoration-none">Adicionar Curso</a></li></button>
                <form action="{% url 'buscar_curso' %}" method="get" style="display:inline">
                    <input type="text" name="q" placeholder="Buscar Curso...">
                    <button type="submit">
                        Buscar
                    </button>
                </form>
            </ul>
        </nav>
    <ul class="list-unstyled">
        {% for curso in curso %}
            <li class="mt-3">
                {{ curso.nome }} - {{ curso.turma }}
                <a href="{% url 'curso_edit' curso.pk %}" 
                   class="btn btn-warning btn-sm ms-2">
                    Editar
                </a>
                <a href="{% url 'curso_delete' curso.pk %}" 
                   class="btn btn-danger btn-sm ms-2">
                    Deletar
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}